<!-- <div ng-init="loadImage()">
	<h1>HELLO Buyer</h1>
	<img ng-src="data:image/JPEG;base64,{{image}}">
</div> -->
<div class="w3-light-grey" style="margin-top: 100px; padding-top: 10px;">

	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width: 1400px;">

		<!-- The Grid -->
		<div class="w3-row-padding">

			<!-- Left Column -->
			<div class="w3-third">

				<div class="w3-white w3-card-4 buy-card">

						<div class="w3-large row">
							<div class="col-md-5">
							<!-- <i class="fa fa-bed fa-fw "></i> --><b>Bedrooms</b>
							</div>
							<div class="col-md-6">
								<span ng-repeat="bedroom in bedrooms">
							      <span class="action-checkbox">
							       <input id="{{bedroom}}" type="checkbox" value="{{bedroom}}" ng-checked="totalBedrooms.indexOf(bedroom) > -1" ng-click="toggleBedroomSelection(bedroom)" />
							       <label for="{{bedroom}}">{{bedroom}}<span ng-show="bedroom == '4'">+</span></label>
							      </span>
							    </span>
						    </div>
					    </div>
					    
						<div class="w3-large row">
						<div class="col-md-5">
							<!-- <i class="fa fa-asterisk fa-fw "></i> --><b>Bathroom</b>
						</div>
						<div class="col-md-6">
							<span ng-repeat="bathroom in bathrooms">
						      <span class="action-checkbox">
						       <input id="{{bathroom}}" type="checkbox" value="{{bathroom}}" ng-checked="totalBathrooms.indexOf(bathroom) > -1" ng-click="toggleBathroomSelection(bathroom)" />
						       <label for="{{bathroom}}">{{bathroom}}<span ng-show="bathroom == '4'">+</span></label>
						      </span>
						      
						    </span>
					    </div>
						</div>

						<div class="w3-large row">
						<div class="col-md-5">
							<!-- <i class="fa fa-home fa-fw "></i> --><b>Floors</b>
						</div>
						<div class="col-md-6">
						<span ng-repeat="floor in floors">
					      <span class="action-checkbox">
					       <input id="{{floor}}" type="checkbox" value="{{floor}}" ng-checked="totalFloors.indexOf(floor) > -1" ng-click="toggleFloorSelection(floor)" />
					       <label for="{{floor}}">{{floor}}<span ng-show="floor == '4'">+</span></label>
					       
					      </span>
					    </span>
					    </div>
					    </div>
					    
					    <div class="w3-large row">
							<div class="col-md-5">
							<!-- <i class="fa fa-number "></i> --><b>Zip Code</b>
							</div>
							<div class="col-md-7">
								<input type="number" data-ng-model="zipcode" style="width:80%;">
						    </div>
					    </div>
					    
						<div class="w3-large" style="margin-top:13px;">
							<article>
						    <div class="row" style="margin-left:3px;">
							<!-- <i class="fa fa-money fa-fw "></i> --><b>Price</b>
						</div>
						
						<div class="row">
						    <rzslider rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-option="priceSlider.options"></rzslider>
						    </div>
						  </article>
						</div>
						
						
						<div class="w3-large" style="margin-top:13px;">
							<article>
						    <div class="row" style="margin-left:3px;">
							<!-- <i class="fa fa-superscript fa-fw "></i> --><b>Sq. Feet</b>
						</div>
						
						<div class="row">
						    <rzslider rz-slider-model="sqFeetSlider.minValue" rz-slider-high="sqFeetSlider.maxValue" rz-slider-option="sqFeetSlider.options"></rzslider>
						    </div>
						  </article>
						</div>
				
						<button type="button" class="btn btn-primary" ng-click="searchProperty()" style="border-radius:10px; width:100px; height:55px; margin-left:35%;margin-top:3%;">
							Search
						</button>
					
					</div>
				</div>
				<!-- End Left Column -->
		

			<!-- Right Column -->
			<div class="w3-twothird">

				<div class="w3-container w3-card-2 w3-white w3-margin-bottom"
					style="padding: 50px;" ng-repeat="property in searchedProperties">

					<div class="w3-container">

						<div class="row">
							<div class="col-md-4" ng-click="openDetailModal(property)">
								<div>
								
									<img src="img/portfolio/cake.png"
										style="width: 100%; height: auto;"></img>
								</div>
							</div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<p>Bedrooms: {{property.numberOfBedrooms}}</p>
									</div>
									<div class="col-md-6">
										<p>Bathrooms: {{property.numberOfBathrooms}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Floors: {{property.numberOfFloors}}</p>
									</div>
									<div class="col-md-6">
										<p>Price : ${{property.price}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p>Parking : Available</p>
									</div>
									<div class="col-md-6">
										<button type="button" class="btn btn-primary" ng-click="provideSellerDetails(property);">
											Contact Seller
										</button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>
	

	<div class="modal fade" modal="sellerDetailsModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none;">
		<div class="modal-dialog">
			<div class="loginmodal-container">
				<button type="button" class="close"
					ng-click="sellerDetailsModal = false">&times;</button>


				<h3>{{currentSeller.firstName}} {{currentSeller.lastName}}</h3>
				<p>
					<i class="fa fa-phone"></i> {{currentSeller.phoneNumber}}
				</p>
				<p>
					<i class="fa fa-envelope"></i> {{currentSeller.emailId}}
				</p>
			</div>
		</div>
	</div>
	
	 <div class="portfolio-modal modal fade" modal="propertyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" style="padding:20px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img ng-src="img/{{property.image}}" class="img-responsive img-centered" style="width:75%;height:75%;" alt="">
                            <p>{{property.description}}</p>
                            <ul class="list-inline item-details">
                                <li>Year Built:
                                    <strong>{{property.yearBuilt}}
                                    </strong>
                                </li>
                                <li>Sq. Ft:
                                    <strong>{{property.squareFeet}}
                                    </strong>
                                </li>
                                <li>Price:
                                    <strong>{{property.price}}
                                    </strong>
                                </li>
                                <li>Bedrooms:
                                    <strong>{{property.numberOfBedrooms}}
                                    </strong>
                                </li>
                                <li>Bathrooms:
                                    <strong>{{property.numberOfBathrooms}}
                                    </strong>
                                </li>
                                <li>Floors:
                                    <strong>{{property.numberOfFloors}}
                                    </strong>
                                </li>
                                <li>Features:
                                    <strong>{{property.propertyFeatures}}
                                	</strong>
                                </li>
                            </ul>
                           
                            <button type="button" class="btn btn-default" ng-click="propertyModal=false"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>