<div>
<header>
	<div class="container" id="maincontent" tabindex="-1">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" ng-src="img/profile.png" alt="">
				<div class="intro-text">
					<h1 class="name">GharWaale.com</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Property Grid Section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Homes</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div ng-repeat="property in properties ">
				<div class="col-md-4 portfolio-item">
					<a class="portfolio-link" data-target="#propertyModal2"
						data-toggle="modal" ng-click="setProperty2(property)">
						<div class="caption">
							<div class="caption-content text-left">
								<i class="fa fa-bed"> {{property.numberOfBedrooms}}</i><br>
								<i class="fa fa-dollar"> {{property.price}}</i><br>
							</div>
						</div> <img src="/img/{{property.image}}" style="height : 100% !important;width : 100% !important" >
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="success" id="recentSearches" ng-if="userDetails != null && userDetails != undefined">
	<div class="container" >
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Recent Searches</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div ng-repeat="property in recentProperties ">
				<div class="col-sm-4 portfolio-item">
					<a class="portfolio-link" data-target="#propertyModal"
						data-toggle="modal" ng-click="setProperty(property, $index)">
						<img ng-src = "data:image/JPEG;base64,{{recentSearchImage[$index]}}" style="height : 250px !important;width : 100% !important; margin-top:40px;">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- About Section -->
<section class="portfolio" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>Buy, Sell or Estimate! We are the whole package! At
					GharWaale.com, we let you post your cherished properties for sale,
					connect you to other sellers, and even let you get an estimate of
					your current property on the basis of past sales.</p>
			</div>
			<div class="col-lg-4">
				<p>No need to contact other brokers, pay excessive brokerage and
					run helter skelter just for a price estimate. Use GharWaale.com
					today to fulfill your wishes and live in the palace of your dreams!</p>
			</div>

		</div>
	</div>
</section>

<!-- Contact Section -->
<div class="modal fade" modal="signUpModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none;">
	<div class="modal-dialog ">
		<div class="signUpModal-container">
			<button type="button" class="close" ng-click="signUpModal = false">&times;</button>

			<div class="col-lg-12 text-center">
				<h2>Sign Up</h2>
				<hr class="star-primary">
			</div>

			<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
			<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
			<form name="signUpForm" id="signUpForm" validate>
				<div class="row control-group">
					<div
						class="form-group col-xs-12 floating-label-form-group controls">
						<label for="firstName">First Name</label> <input type="text"
							class="form-control input-text" placeholder="First Name"
							id="firstName" data-ng-model="signUp.firstName" required
							data-validation-required-message="Please enter your first name.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div
						class="form-group col-xs-12 floating-label-form-group controls">
						<label for="lastName">Last Name</label> <input type="text"
							class="form-control input-text" placeholder="Last Name"
							id="lastName" data-ng-model="signUp.lastName" required
							data-validation-required-message="Please enter your last name.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div
						class="form-group col-xs-12 floating-label-form-group controls">
						<label for="phone">Phone Number</label> <input type="tel"
							class="form-control" placeholder="Phone Number" id="phone"
							data-ng-model="signUp.phoneNumber" required
							data-validation-required-message="Please enter your phone number.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div
						class="form-group col-xs-12 floating-label-form-group controls">
						<label for="email">Email Address</label> <input type="email"
							class="form-control" placeholder="Email Address" id="email"
							data-ng-model="signUp.emailId" required
							data-validation-required-message="Please enter your email address.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="row control-group">
					<div
						class="form-group col-xs-12 floating-label-form-group controls">
						<label for="password">Password</label> <input type="password"
							class="form-control input-text" placeholder="Password"
							id="password" data-ng-model="signUp.password" required
							data-validation-required-message="Please enter your password.">
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<br>
				<div class="form-group col-xs-12">
					<button type="submit" class="btn btn-success btn-lg"
						ng-click="signUp();" ng-disabled="signUpForm.invalid">Sign
						Up</button>
				</div>
			</form>
		</div>
	</div>
</div>

<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>4000 SW 37th Blvd
                            <br>Gainesville, FL 32608</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About GharWaale</h3>
                        <p>GharWaale is an online platform to buy and sell real estate as well as predict prices.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>


<!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" style="padding:20px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img ng-src = "data:image/JPEG;base64,{{property.image}}" class="img-responsive img-centered" style="width:75%;height:75%;" alt="">
                            <p>{{property.description}}</p>
                            <ul class="list-inline item-details">
                                <li>Year Built:
                                    <strong>{{property.yearBuilt}}
                                    </strong>
                                </li>
                                <li>Sq. Ft:
                                    <strong>{{property.squareFeet}}
                                    </strong>
                                </li>
                                <li>Price:
                                    <strong>{{property.price}}
                                    </strong>
                                </li>
                                <li>Bedrooms:
                                    <strong>{{property.numberOfBedrooms}}
                                    </strong>
                                </li>
                                <li>Bathrooms:
                                    <strong>{{property.numberOfBathrooms}}
                                    </strong>
                                </li>
                                <li>Floors:
                                    <strong>{{property.numberOfFloors}}
                                    </strong>
                                </li>
                            </ul>                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio-modal modal fade" id="propertyModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" style="padding:20px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img src = "img/{{property.image}}" class="img-responsive img-centered" style="width:75%;height:75%;" alt="">
                            <p>{{property.description}}</p>
                            <ul class="list-inline item-details">
                                <li>Year Built:
                                    <strong>{{property.yearBuilt}}
                                    </strong>
                                </li>
                                <li>Sq. Ft:
                                    <strong>{{property.squareFeet}}
                                    </strong>
                                </li>
                                <li>Price:
                                    <strong>{{property.price}}
                                    </strong>
                                </li>
                                <li>Bedrooms:
                                    <strong>{{property.numberOfBedrooms}}
                                    </strong>
                                </li>
                                <li>Bathrooms:
                                    <strong>{{property.numberOfBathrooms}}
                                    </strong>
                                </li>
                                <li>Floors:
                                    <strong>{{property.numberOfFloors}}
                                    </strong>
                                </li>
                            </ul>                           
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
