.login-error{
	color:red;
}

#signUpForm .input-text{
	background-color:transparent;
	border:none;
	font-size:1.5em;
	margin:0px;
	padding:0px;
}

.bring-down{
	padding-top: 120 px;
	margin-top:120px !important;
}
